<!-- button to add a new dog that pull up the modal for new pup -->
{{#if user }}
<div class="add-dog-button">
    <button class="btn btn-primary addDog" id="addDog" data-toggle="modal" data-target="#new-dog-modal">
        Post Pup
    </button>


</div>

<script>
  homeward.getAllDogs(homeward.renderDogs);
</script>


<div id="doglist">
</div>

{{/if}}

<!-- script for rendering all dogs -->
<script id="doglisttemp" type="text/x-handlebars-template">

<div class="col-sm-10 col-lg-12 col-xl-18 col-center">

    \{{#each dogs}}
    <div class="row">
        <container class="index">

            <img src=\{{image}}>


            <div class="data" class="index">
                <a href="/dashboard/\{{_id}}" class="attributes"><h4 class="dog-name" id="dog-name">\{{name}}</h4> </a>
                <h5><span class = "bold">name:</span> \{{name}}</h5>
                <h5><span class = "bold">breed:</span> \{{breed}}</h5>
                <h5><span class = "bold">age:</span> \{{age}}</h5>
                <h5><span class = "bold">size:</span> \{{size}}</h5>
                <h5><span class = "bold">location:</span> \{{location}}</h5>
                <h5><span class = "bold">neighborhoods:</span> \{{neighborhoods}}</h5>
                <h5><span class = "bold">reward:</span> \{{reward}}</h5>
                <h5><span class = "bold">contact:</span> \{{contact}}</h5>
                <h5><span class = "bold">status:</span> \{{status}}</h5>
                <h5><span class = "bold">description:</span> \{{description}}</h5>

            </div>

        </container>
    </div>
    \{{/each}}

</div>
</script>


<!-- script for client side rendering of new dog -->
<script id="dog-template" type="text/x-handlebars-template">

  <div class="row">
      <container class="index">

          <img src=\{{dog.image}}>


          <div class="data" class="index">
              <a href="/dashboard/\{{_id}}" class="attributes"><h4 class="dog-name" id="dog-name">\{{dog.name}}</h4> </a>
              <h5><span class = "bold">name:</span> \{{dog.name}}</h5>
              <h5><span class = "bold">breed:</span> \{{dog.breed}}</h5>
              <h5><span class = "bold">age:</span> \{{dog.age}}</h5>
              <h5><span class = "bold">size:</span> \{{dog.size}}</h5>
              <h5><span class = "bold">location:</span> \{{dog.location}}</h5>
              <h5><span class = "bold">neighborhoods:</span> \{{dog.neighborhoods}}</h5>
              <h5><span class = "bold">reward:</span> \{{dog.reward}}</h5>
              <h5><span class = "bold">contact:</span> \{{dog.contact}}</h5>
              <h5><span class = "bold">status:</span> \{{dog.status}}</h5>
<<<<<<< HEAD
              <h5><span class = "bold">description:</span> \{{dog.description}}</h5>
             
=======

>>>>>>> development
          </div>

      </container>
  </div>

</script>



<!-- form modal for posting a new dog -->
<div class="modal fade" id="new-dog-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1>add a dog to homeward</h1>
            </div>

                  <div class="modal-body">
                      <div class="container-fluid">

<<<<<<< HEAD
  <form id="new-dog-form" class="form form-horizontal text-center move" onsubmit="homeward.createDog(event)">


          <div class="form-group">
              <label class="col-md-6 control-label" for="size"></label>
              <select class="form-control" id="status" name="status" value="{{dog.status}}">
                <option>lost</option>
                <option>found</option>
                <option>sighted</option>
              </select>
           </div>
                      
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="name"></label>
              <div class="col-md-6">
              <input id="dogName" name="name" type="text" placeholder="name" value="{{dog.name}}" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="breed"></label>
              <div class="col-md-6">
              <input id="dogBreed" name="breed" type="text" placeholder="breed" value="{{dog.breed}}" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="color"></label>
              <div class="col-md-6">
              <input id="dogColor" name="color" type="text" placeholder="color" value="{{dog.color}}" class="form-control input-md">

              </div>
            </div>


                 <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="age"></label>
              <div class="col-md-6">
                <input class="form-control" id="dogAge" name="age" placeholder="age" value="{{dog.age}}"></input>
              </div>
            </div>

            {{!-- drop down menu for SIZE --}}

           <div class="form-group">
              <label class="col-md-6 control-label" for="size"></label>
              <select class="form-control" id="size" name="size" value="{{dog.size}}">
                <option>small</option>
                <option>medium</option>
                <option>large</option>
              </select>
           </div>

              <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="location"></label>
              <div class="col-md-6">
                <input class="form-control" id="dogLocation" name="location" placeholder="street location" value="{{dog.location}}"></input>
              </div>
            </div>


              {{!-- drop down menu for NEIGHBORHOOD --}}

           <div class="form-group">
              <label class="col-md-6 control-label" for="size"></label>
              <select class="form-control" id="neighborhoods" name="neighborhoods" value="{{dog.neighborhoods}}">
                <option>Bernal Heights</option>
                  <option>The Castro</option> 
                  <option>Chinatown</option> 
                  <option>Cole Valley</option> 
                  <option>Deco Ghetto</option>
                  <option>Fisherman's Wharf</option> 
                  <option>Golden Gate Park</option>
                  <option>The Haight</option>
                  <option>Hayes Valley</option>
                  <option>Inner Richmond</option>
                  <option>Inner Sunset</option>
                  <option>The Marina</option>
                  <option>The Mission</option>
                  <option>Mission to Potrero</option>
                  <option>Dolores and Valencia Corridor</option> 
                  <option>24th Street</option>
                  <option>Nob Hill</option>
                  <option>Noe Valley</option>
                  <option>North Beach</option>
                  <option>Outer Richmond</option>
                  <option>Outer Sunset</option>
                  <option>Pacific Heights</option>
                  <option>Potrero Hill</option>
                  <option>Russian Hill</option>
                  <option>SoMa</option>
                  <option>Tenderloin</option>
                  <option>Union Square</option>
                  <option>Western Addition</option>


              </select>
           </div>


              <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="image"></label>
              <div class="col-md-6">
              <input id="dogImage" name="image" type="text" placeholder="image URL" value="{{dog.image}}" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="reward"></label>
              <div class="col-md-6">
              <input id="dogReward" name="reward" type="text" placeholder="reward" value="{{dog.reward}}" class="form-control input-md">

=======
                        <form id="new-dog-form" class="form form-horizontal text-center move" onsubmit="homeward.createDog(event)">

                        <div class="form-group">
                            <label class="col-md-6 control-label" for="status"></label>
                            <select class="form-control" id="status" name="status" value="{{dog.status}}">
                              <option>lost</option>
                              <option>found</option>
                              <option>sighted</option>
                            </select>
                         </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-6 control-label" for="name"></label>
                        <div class="col-md-6">
                        <input id="dogName" name="name" type="text" placeholder="name" value="{{dog.name}}" class="form-control input-md" required="">

                        </div>
                      </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="breed"></label>
              <div class="col-md-6">
              <input id="dogBreed" name="breed" type="text" placeholder="breed" value="{{dog.breed}}" class="form-control input-md">
<!--
                        <div class="form-group col-md-4">
                            <input name="name" class="form-control" placeholder="Dog Name" required='true' />
                        </div>
                        <div class="form-group col-md-4">
                        <input name="description" class="form-control" placeholder="Description" required='true'/>
                      </div> -->
            </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="color"></label>
              <div class="col-md-6">
              <input id="dogColor" name="color" type="text" placeholder="color" value="{{dog.color}}" class="form-control input-md">

              </div>
            </div>


                 <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="age"></label>
              <div class="col-md-6">
                <input class="form-control" id="dogAge" name="age" placeholder="age" value="{{dog.age}}"></input>
              </div>
            </div>

            <!-- {{!-- drop down menu for SIZE --}} -->

           <div class="form-group">
              <label class="col-md-6 control-label" for="size"></label>
              <select class="form-control" id="size" name="size" value="{{dog.size}}">
                <option>small</option>
                <option>medium</option>
                <option>large</option>
              </select>
           </div>

              <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="location"></label>
              <div class="col-md-6">
                <input class="form-control" id="dogLocation" name="location" placeholder="street location" value="{{dog.location}}"></input>
              </div>
            </div>


              {{!-- drop down menu for NEIGHBORHOOD --}}

           <div class="form-group">
              <label class="col-md-6 control-label" for="neighborhoods"></label>
              <select class="form-control" id="neighborhoods" name="neighborhoods" value="{{dog.neighborhoods}}">
                <option>Bernal Heights</option>
                  <option>The Castro</option>
                  <option>Chinatown</option>
                  <option>Cole Valley</option>
                  <option>Deco Ghetto</option>
                  <option>Fisherman's Wharf</option>
                  <option>Golden Gate Park</option>
                  <option>The Haight</option>
                  <option>Hayes Valley</option>
                  <option>Inner Richmond</option>
                  <option>Inner Sunset</option>
                  <option>The Marina</option>
                  <option>The Mission</option>
                  <option>Mission to Potrero</option>
                  <option>Dolores and Valencia Corridor</option>
                  <option>24th Street</option>
                  <option>Nob Hill</option>
                  <option>Noe Valley</option>
                  <option>North Beach</option>
                  <option>Outer Richmond</option>
                  <option>Outer Sunset</option>
                  <option>Pacific Heights</option>
                  <option>Potrero Hill</option>
                  <option>Russian Hill</option>
                  <option>SoMa</option>
                  <option>Tenderloin</option>
                  <option>Union Square</option>
                  <option>Western Addition</option>


              </select>
           </div>


              <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="image"></label>
              <div class="col-md-6">
              <input id="dogImage" name="image" type="text" placeholder="image URL" value="{{dog.image}}" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="reward"></label>
              <div class="col-md-6">
              <input id="dogReward" name="reward" type="text" placeholder="reward" value="{{dog.reward}}" class="form-control input-md">

>>>>>>> development
              </div>
            </div>

              <!-- Text input-->
            <div class="form-group">
              <label class="col-md-6 control-label" for="contact"></label>
              <div class="col-md-6">
              <input id="dogContact" name="contact" type="text" placeholder="contact" value="{{dog.contact}}" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-6 control-label" for="description"></label>
              <div class="col-md-6">
                <textarea class="form-control" id="dogDescript" name="description" placeholder="description" value="{{dog.description}}"></textarea>
              </div>
            </div>


          <input type="hidden" name="userid" value={{user._id}}>

          <input type="submit"  class="btn btn-primary col-md-12" value="Add Dog">


      </form>

  </div>
  </div>
  </div>
</div>
</div>
