{{#if user }}
<div class="add-dog-button">
    <button class="btn btn-primary" id="addDog" data-toggle="modal" data-target="#new-dog-modal">
      Post Pup
    </button>
    </div>

{{/if}}

<div class="col-sm-10 col-lg-12 col-xl-18 col-center">


    {{#each dogs}}
    <div class="row">
        <container class="index">

            <img src={{image}}>


            <div class="data" class="index">
                <a href="/dashboard/{{_id}}" class="attributes">
                    <h4 class="dog-name" id="dog-name">{{name}}</h4> </a>
                <h5><span class = "bold">breed:</span> {{breed}}</h5>
                <h5><span class = "bold">color:</span> {{color}}</h5>
                <h5><span class = "bold">size:</span> {{size}}</h5>
                <h5><span class = "bold">location:</span> {{location}}</h5>
                <h5><span class = "bold">reward:</span> {{reward}}</h5>
                <h5><span class = "bold">phoneNumber:</span> {{phoneNumber}}</h5>
                <h5><span class = "bold">description:</span> {{description}}</h5>
                <h5><span class = "bold">lost:</span> {{lost}}</h5>
            </div>

        </container>
    </div>

    {{/each}}
</div>



<div class="modal fade" id="new-dog-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>add a dog to homeward</h1>
      </div>

  <div class="modal-body">
    <div class="container-fluid">

        <form id="new-dog-form" class="form" onsubmit="homeward.createDog(event)">

            <div class="form-group col-md-4">
            <input name="lost"  class="form-control" placeholder="Lost or Found" required='true'/>
          </div>
            <div class="form-group col-md-4">
            <input name="name" class="form-control" placeholder="Dog Name" required='true'/>
          </div>

            <div class="form-group col-md-4">
            <input name="decription"  class="form-control" placeholder="Description" required='true'/>
          </div>


            <div class="form-group col-md-4">
            <input class="btn btn-primary col-md-12" type="submit" value="Add Dog"/>
          </div>

        </form>
      </div>
  </div>
  </div>
  </div>
</div>
