<h1>{{dog.status}}</h1>

    <div class="dashboard" id="row">
        <div class="col-sm-9 col-md-9 col-lg-9" id="dashboard-template">

            <div class="dog-thumb">
                <img class="showImage" src={{dog.image}}>

            </div>
            <div class="caption">
                <h4 class="dog-name" id="dog-name">{{dog.name}}</h4>
                <h5><span class = "attributes">breed:</span> {{dog.breed}}</h5>
                <h5><span class = "attributes">color:</span> {{dog.color}}</h5>
                <h5><span class = "attributes">size:</span> {{dog.size}}</h5>
                <h5><span class = "attributes">age:</span> {{dog.age}}</h5>
                <h5><span class = "attributes">location:</span> {{dog.location}}</h5>
                <h5><span class = "attributes">neighborhood:</span> {{dog.neighborhoods}}</h5>
                <h5><span class = "attributes">reward:</span> {{dog.reward}}</h5>
                <h5><span class = "attributes">contact:</span> {{dog.contact}}</h5>
                <h5><span class = "attributes">description:</span> {{dog.description}}</h5>

                <h5><span class = "attributes">posted by:</span> {{poster.firstName}}</h5>

            </div>

        </div>
    </div>
