
<h1>SHOW PAGE FOR {{userShow.fb.firstName}}</h1>





<div class="row dashboard">
    <div class="col-sm-6 col-md-9 col-centered" id="dashboard-template">
       
            <div class="userShow.fb-thumb">
                <img src={{userShow.fb.image}}>
            </div>
            <div class="caption userShow.fb-thumb">
                
                <h5><span class = "attributes">First Name:</span> {{userShow.fb.firstName}}</h4>
                <h5><span class = "attributes">Last Name:</span> {{userShow.fb.lastName}}</h5>
                <h5><span class = "attributes">Email:</span> {{userShow.fb.email}}</h5>
                
            </div>
    </div>
</div>


